<div class="home-container">
    <app-home-header></app-home-header>
    <main>
        <app-home-hero></app-home-hero>
        <app-home-features></app-home-features>

        <!-- Sección de Mascotas Perdidas -->
        <section class="mascotas-perdidas-section">
            <app-mis-mascotas [modo]="'perdidas'" [mostrarAcciones]="false"
                [titulo]="'Mascotas Perdidas Recientemente'">
            </app-mis-mascotas>
        </section>

        <app-home-cta></app-home-cta>
    </main>
    <app-home-footer></app-home-footer>
</div>