<section class="hero">
    <div class="hero-container">
        <div class="hero-content">
            <h1 class="hero-title">Encuentra a Tu Amigo</h1>
            <p class="hero-subtitle">
                Nuestra comunidad te ayuda a reunirte con tu mascota perdida de forma rápida y sencilla
            </p>
          <div class="hero-buttons">
            <button
              class="btn btn-primary btn-large"
              routerLink="/mascotas/perdidas"
            >
              Mascota Perdida
            </button>
          </div>
        </div>
        <div class="hero-image">
            <img src="https://img.freepik.com/foto-gratis/ilustracion-3d-que-muestra-amistad-gatos-perros_23-2151483371.jpg?semt=ais_hybrid"
                alt="Perro y gato amigables" />
        </div>
    </div>
</section>
